body { margin: 0; padding: 0; }
#main { width: 1150px;  }

nav { margin: 30px auto; height:10px;}
nav ul { list-style:none; padding-left:0; padding-bottom: 15px;}
nav ul li { float: left; padding: 0px 25px;}
nav hr { clear:both; border: 1px solid black}

nav a { font-weight:bold; }
nav a:link, nav a:active, nav a:visited { color: black; text-decoration: none;}
nav a:hover { color:red; text-decoration: underline;}

#container { height: 500px; }

footer { bottom: 20px; margin: 0 auto; }
footer p { text-align : center}
footer hr { border: 1px solid black }